---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Impressum | Yannick Salm"
    description="Impressum der Seite yannicksalm.ch."
>
<h1>Impressum</h1>

<p>
Angaben gemäss Art. 3 Abs. 1 lit. s UWG
</p>

<p>
Yannick Salm<br>
Schweiz
</p>

<p>
E-Mail:<br>
yannicksalm07@gmail.ch
</p>

<p>
Verantwortlich für den Inhalt:<br>
Yannick Salm
</p>
</BaseLayout>