---
import type { Service } from '../data/services';

interface Props {
  service: Service;
}

const { service } = Astro.props;
---

<article class="service-card">
  <a class="service-card__link" href={`/services/${service.slug}`}>
    <div class="service-card__body">
      <h3 class="service-card__title">{service.title}</h3>
      <p class="service-card__excerpt">{service.excerpt}</p>
    </div>
  </a>
</article>